<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flip the Script</title>

<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><img src="css/components/logo.png"></a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="">Add article</a></li>
            <li><a href="#" class="">About the project</a></li>
            <li class="opener"><a href=# class="">Links</a>
                <div class="dropdown">
                    <a href=# target="_blank">LinkedIn</a>
                    <a href=# target="_blank">TechLabs</a>
                </div>
            </li>
            <li><a href="#" class=""></a></li>
        </ul>
    </nav>
    <div class="login">
        <h1>Prediction</h1>
        <form action="{{ url_for('predict')}}"method="post">
            <input type="text" name="Source" placeholder="Source" required="required" />
            <input type="text" name="Topic" placeholder="Topic" required="required" />
            <input type="text" name="Writer's Gender" placeholder="Writer's Gender" required="required" />
    
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>    
       <br>
       <br>
       {{ prediction_text }}
    
     </div>
    <div id="container">
        <h1 id=first-title>Articles</h1>
            <div class="post-group">
            <p><div id="text">Title: </div></p>
            <p><div id="text">Date: </div></p>
            <p><div id="text">Topic: </div></p>
            <small>Written on by </small>
            <div id="details">
                <a href="">Read More</a>
            </div>
        </div>
        <h1 id=second-title>Articles table</h1>
        <table>
            <thead>
            <tr>
                <th></th><th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td><td></td>
                </tr>				
                </tbody>
            </table>
        </div>
</body>
</html>    